.brand-logo {
    width: 200px;
    height: 100px;
}

.mapa {
    position: relative;
    display:flex ;
}

.carousel{
    width: 100vw;
    height: 80vh;
}

.profesional{
    &__image{
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    &__card{
        margin: 5px ;
    }
}